modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://lmsjblphqjvhamkkwuto.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_-eJMzalTVGIQyhYzkngjaw_RtW2qpX4"
SUPABASE_SERVICE_KEY = "sb_secret_-ngjIfGsdzY7VMTv4vYnKg_M8JhZDZg"
